.textEditor {
  width: 500px;
  min-height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  direction: rtl;
  background: #fff;
  color: #000;
}
.textEditor:focus {
  outline: none;
}
.textEditor-source-mode {
  background: #333 !important;
  color: bisque !important;
  direction: ltr !important;
}
.textEditor-toolbar {
  width: 500px;
  min-height: 50px;
  border: 1px solid #ccc;
  padding: 5px;
  direction: ltr;
  background: #fff; 
}
.textEditor-toolbar img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.textEditor-toolbar select{
  position:relative;top:-5px;height:25px;border:1px solid #aaa;background:#fff;outline:0;
}
