.customeDeleteConfirmation{ 
  position:relative; 
  direction:ltr;
  display:flex;
  align-items:center;
  justify-content:center;
  user-select:none;
}
.designDeleteConfirmation{
  position:absolute;
  border-top: 5px solid #49f752;  
  padding-bottom:10px;
  width:220px;
  top:-70px;
  background:#333; 

  animation-name: myanimationDelete;  
  animation-fill-mode: forwards;  
  animation-iteration-count: 1;
  animation-duration: 0.3s; 
  animation-timing-function: linear;
  opacity:0;
}
@keyframes myanimationDelete{100%{opacity:1;top:-140px; }}
.designDeleteConfirmation:after {content:'';position: absolute;top: 100%;left: 0;right: 0;margin: 0 auto;width: 0;height: 0;border-top: solid 10px #333333;border-left: solid 10px transparent;border-right: solid 10px transparent;}

.designDeleteConfirmation p{height:40px; display: flex;align-items:center;justify-content:center; color:#FFF;}
.btn-info{background:#969acf; display:inline-flex;align-items:center;justify-content:center;cursor:pointer;width:45%;height:40px;  color:#FFF;}
.btn-warning{background:#38b87c; display:inline-flex;align-items:center;justify-content:center;cursor:pointer;width:45%;height:40px;  color:#FFF;}
.btn-warning:hover{background:#1f8857;transition: all 0.5s ease;}   
.btn-info:hover{background:#6b71c2;transition: all 0.5s ease;}         