 .scheme{display:block;margin:10px auto;width:80%;height:auto;background:#f5f5f5;padding:20px;box-sizing:border-box;animation-name: scheme-animation;animation-duration: 0.5s;animation-fill-mode: forwards;animation-timing-function: ease-out;}
@keyframes scheme-animation {0%{opacity:0;}100%{opacity:1;}}
.scheme label{display:block;color:#000;}
.scheme input[type=text]{display:block;width:100%;height:50px;background:#FFFFFF;border: 1px solid #cecece;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;padding:10px;margin-bottom:15px;margin-top:5px;}
.scheme input[type=file]{display:block;width:100%;height:50px;background:#FFFFFF;border: 1px dashed #cecece;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;padding:10px;margin-bottom:15px;margin-top:5px;}
.scheme input[type=submit]{display:block;width:100%;height:50px;background:#4CAF50;color:#fff;cursor:pointer;border: 0px solid #cecece;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;margin-bottom:30px;}
.scheme input[type=submit]:hover{background-color: #3c8940;transition: all 0.5s ease; }

.scheme input[type="checkbox"] {display: none;}
.scheme input[type="checkbox"] + label {display: block;position: relative;padding:0 30px; cursor: pointer;}
.scheme input[type="checkbox"] + label:before {content: '';display: block;width: 20px;height: 20px;border: 1px solid #000;position: absolute;right: 0;top: 0;opacity: .6;-webkit-transition: all .12s, border-color .08s;transition: all .12s, border-color .08s;}
.scheme input[type="checkbox"]:checked + label:before {width: 10px;top: 0px;border-radius: 0;opacity: 1;border-top-color: transparent;border-left-color: transparent;-webkit-transform: rotate(45deg);transform: rotate(45deg);}

.custom-toast-error{font-size: 14px; text-align:right;box-shadow: none !important; /* Remove the box-shadow  */ opacity: 1 !important; background-color: #bd362f;}
.custom-toast-warning{font-size: 14px; text-align:right;box-shadow: none !important; /* Remove the box-shadow  */ opacity: 1 !important; background-color: #f89406;}
.custom-toast-success{font-size: 14px; text-align:right;box-shadow: none !important; /* Remove the box-shadow  */ opacity: 1 !important; background-color: #51a351;}
.custom-toast-error:hover {box-shadow: none !important;}
.custom-toast-warning:hover {box-shadow: none !important;}
.custom-toast-success:hover {box-shadow: none !important;}


.scheme #resultLoading{height:100px;width:100%;display:none;align-items:center;justify-content:center;}
.scheme #resultLoading span{direction:ltr;}
.scheme #resultLoading .custom-loader-cp{width:35px;height:35px;border-radius:50%;border:1.5px solid;border-color:#E4E4ED;border-right-color: #5b5b5b;animation:s2 1s infinite linear;}
@keyframes s2 {to{transform: rotate(1turn)}}
  

.scheme .product {width:100%; border-collapse: collapse;}  
.scheme .product td{height:60px;word-break:break-all;}  
.scheme .product tr:nth-child(even){background-color: #f2f2f2;text-align:center;} 
.scheme .product tr:nth-child(odd){background-color: #fff;text-align:center;}
.scheme .product tr:hover {background-color: #ddd;} 
.scheme .product tr:first-child {background-color: #4a4893;color:#fff;text-align: center;}

.scheme .product .dragHandle{background:#dbffff;cursor: all-scroll;user-select:none;}
.scheme .product tr.myDragClass{background:#d78782;color:#fff}

.scheme .product img {cursor: pointer;width: 20px;height: 20px;}
.scheme .product label {width:100%;height:40px;background:#fff;margin:4px 0;display:flex;align-items:center;color:#000;padding:0px 4px;border-bottom: 2px solid #aaa;}  


.scheme .totalRecord{height:60px;width:100%;display:flex;align-items:center;font-weight:bold;}
