*{margin:0;box-sizing:border-box;}
body{overflow-y: scroll;}
#dts {position:relative;margin:auto;width:60%; border: 0px solid #000;font-family: "Cairo";font-size:14px;}
#dts a{display:block;text-decoration:none;color:#fff; background:#0f7686;padding:0 5px;box-sizing:border-box;margin-bottom:5px;width:100%;height: 50px;display: flex;align-items:center;}
#dts a:hover{opacity:0.8;transition: all 0.5s ease;}
 
#dts .field {border: 1px dashed #333; margin-bottom: 10px;padding:10px;}
#dts .field:hover {background: #fbf9ee;cursor: move;}

#dts .field label{display:block;}
#dts .field input[type=text]{display:block;width:100%;height:45px;font-family:"Cairo";font-size:14px;background:#FFFFFF;border: 1px solid #333;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none; padding:0 5px;margin:2px 0;box-sizing:border-box;}
#dts .field fieldset{border: 1px solid #333;height:60px;margin:2px 0;}
#dts .field .delete{font-size:20px; cursor:pointer;}  


#dts ul {list-style: none;padding: 0;margin: 0;}
#dts .choices {margin: 0px 10px;padding: 5px;background: #fff;border: 1px dashed #333; }
#dts .choices li {padding: 5px;border-bottom:1px dashed #333;margin-bottom:4px;}
#dts .choices li:nth-child(even) {background: #f7f7f7;}
#dts .choices li:nth-child(odd) {background: #e7e7e7;}
#dts .choices li:hover {background-color: #d6d4d4 !important;cursor: move;} 
 
#dts .field .add-choice{background:#008cba;color:#fff;border:0px;cursor:pointer;font-family: "Cairo";height:40px;width:150px;border:0px;outline:0px;}
#dts .field .add-choice:hover{background-color: #077ca2;transition: all 0.5s ease;}

#dts .submit{width:100%;height:50px;background: #4caf50;color:#fff;border:0px;cursor:pointer;font-family: "Cairo";}
#dts .submit:hover{background-color: #3c8940;transition: all 0.5s ease;}      